{% extends 'common/index.html.twig' %}

{% block body %}
    {% include 'common/components/header.html.twig' %}

    <div class="container mt-5">
        <h1>Author: {{ author.name }}</h1>

        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{{ path('author_delete', {'id': author.id}) }}"
                  method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>

        {% if app.session.get('validation_errors') is not empty %}
            <div class="alert alert-danger">
                <h5>Please fix errors:</h5>
                <ul class="mb-0">
                    {% for field, messages in app.session.get('validation_errors') %}
                        {% if messages is iterable %}
                            {% for message in messages %}
                                <li><strong>{{ field }}:</strong> {{ message }}</li>
                            {% endfor %}
                        {% else %}
                            <li><strong>{{ field }}:</strong> {{ messages }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form action="{{ path('author_update', {'id': author.id}) }}" method="POST">
            <div class="mb-3">
                <input type="hidden" name="_method" value="PUT">
                <label for="exampleFormControlInput1" class="form-label">Author name</label>
                <input type="text"
                       class="form-control"
                       id="exampleFormControlInput1"
                       placeholder="Pushkin A. S."
                       name="name"
                       value="{{ author.name }}"
                >
            </div>
            <button type="submit" class="btn btn-success">Save changes</button>

        </form>

    </div>

{% endblock %}
